.u-text-center {
  text-align: center; }

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  box-sizing: border-box;
  padding-bottom: 8.8rem;
  background-color: #fefcf7;
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media only screen and (max-width: 900px) {
    body {
      padding-bottom: 7.2rem; } }

a {
  text-decoration: none; }

.heading-xxl, .heading-xl, .heading-lg, .heading-md, .heading-sm {
  font-family: "Fraunces", serif;
  color: #333d4b;
  font-style: normal;
  font-weight: 900; }

.font-body, .font-nav {
  font-family: "Barlow", sans-serif;
  font-style: normal; }

.heading-xxl {
  color: #83888f;
  font-size: 15rem;
  line-height: 7.2rem;
  text-transform: lowercase;
  letter-spacing: 13px; }
  @media only screen and (max-width: 1200px) {
    .heading-xxl {
      font-size: 12rem;
      letter-spacing: 12px; } }
  @media only screen and (max-width: 1000px) {
    .heading-xxl {
      font-size: 9.6rem;
      letter-spacing: 6px; } }

.heading-xl {
  font-size: 7.2rem;
  line-height: 7.2rem; }
  @media only screen and (max-width: 768px) {
    .heading-xl {
      font-size: 4.8rem;
      line-height: 4.8rem; } }
  @media only screen and (max-width: 550px) {
    .heading-xl {
      font-size: 4rem;
      line-height: 4rem; } }

.heading-lg {
  font-size: 4rem;
  line-height: 4.8rem; }

.heading-md {
  font-size: 3.2rem;
  line-height: 3.6rem; }

.heading-sm {
  font-size: 2.4rem;
  line-height: 3.2rem; }

.font-body {
  color: #333d4b;
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: 400; }
  @media only screen and (max-width: 768px) {
    .font-body {
      font-size: 1.5rem;
      line-height: 2.5rem; } }

.font-nav {
  color: #83888f;
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.923px;
  text-transform: uppercase; }

.btn {
  display: inline-block;
  background-color: #0e8784;
  padding: 1.55rem 3.1rem;
  border: none;
  border-radius: 0.6rem;
  font-family: "Fraunces", serif;
  color: #fefcf7;
  font-size: 1.8rem;
  line-height: 2.5rem;
  font-style: normal;
  font-weight: 900;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s; }
  .btn:hover {
    background-color: #66d2cf; }

.btn-submit {
  padding: 1.55rem 3.55rem; }

.btn-disabled {
  background-color: #e2dedb; }
  .btn-disabled:hover {
    background-color: #e2dedb; }

.card {
  width: 25.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  .card__img {
    width: 100%; }
    @media only screen and (max-width: 1200px) {
      .card__img {
        width: 37.2%; } }
  .card__heading {
    margin-bottom: 2.4rem; }
  .card__heading, .card__subheading {
    text-align: center; }
    @media only screen and (max-width: 1200px) {
      .card__heading, .card__subheading {
        text-align: start; } }
  @media only screen and (max-width: 1200px) {
    .card__description {
      width: 28.2rem; } }

.footer {
  width: 100%;
  max-width: 128rem;
  padding: 4.7rem 5.75%;
  display: flex;
  align-items: center;
  background-color: #2c343e; }
  @media only screen and (max-width: 1440px) {
    .footer {
      width: 88.89%;
      max-width: none; } }
  @media only screen and (max-width: 1000px) {
    .footer {
      flex-direction: column;
      justify-content: center;
      padding: 5.4rem 0; } }
  @media only screen and (max-width: 768px) {
    .footer {
      width: 89.58%; } }
  @media only screen and (max-width: 550px) {
    .footer {
      width: 87.2%; } }
  .footer__logo {
    margin-right: 9.6%; }
    @media only screen and (max-width: 1000px) {
      .footer__logo {
        margin-right: 0;
        margin-bottom: 3.2rem; } }
    @media only screen and (max-width: 550px) {
      .footer__logo {
        height: 2.4rem;
        margin-bottom: 4.85rem; } }
  .footer__nav {
    margin-right: auto; }
    @media only screen and (max-width: 1000px) {
      .footer__nav {
        margin-right: 0;
        margin-bottom: 6.5rem; } }
    @media only screen and (max-width: 550px) {
      .footer__nav {
        margin-bottom: 4.85rem; } }
  .footer__nav-menu {
    list-style: none;
    width: 28.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media only screen and (max-width: 550px) {
      .footer__nav-menu {
        width: auto;
        flex-direction: column;
        gap: 2.4rem; } }
  .footer__nav-link {
    transition: all 0.3s; }
    .footer__nav-link:hover {
      color: #fefcf7; }
  .footer__media-links {
    width: 12rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .footer__sm-img {
    cursor: pointer;
    transition: transform 0.3s; }
    .footer__sm-img:hover {
      transform: translateY(-2px) scale(1.15);
      filter: brightness(0) saturate(100%) invert(94%) sepia(9%) saturate(1519%) hue-rotate(311deg) brightness(108%) contrast(104%); }

.header {
  width: 100%;
  max-width: 128rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4.35rem 0; }
  @media only screen and (max-width: 1440px) {
    .header {
      width: 88.89%;
      max-width: none;
      padding: 4rem 0; } }
  @media only screen and (max-width: 768px) {
    .header {
      width: 89.58%; } }
  @media only screen and (max-width: 550px) {
    .header {
      width: 87.2%;
      padding: 3.2rem 0; } }
  .header__nav-menu {
    list-style: none;
    width: 28.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media only screen and (max-width: 650px) {
      .header__nav-menu {
        width: 25.3rem; } }
    @media only screen and (max-width: 550px) {
      .header__nav-menu {
        display: none; } }
  .header__nav-link {
    transition: all 0.3s; }
    .header__nav-link:hover {
      color: #333d4b; }
  @media only screen and (max-width: 650px) {
    .header__logo {
      width: 16.3rem; } }
  .header__burger-nav {
    display: none; }
    @media only screen and (max-width: 550px) {
      .header__burger-nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 1.6rem;
        width: 1.6rem; } }
  .header__burger-bar {
    display: none; }
    @media only screen and (max-width: 550px) {
      .header__burger-bar {
        display: block;
        height: 0.3rem;
        width: 1.6rem;
        background-color: #333d4b; } }

.main-about {
  width: 100%;
  max-width: 128rem; }

.hero-about {
  height: 45rem;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  padding-left: 6.72%;
  background: url("/assets/about/desktop/image-hero-whitecup.jpg"), lightgray 0px 0px/100% 100% no-repeat;
  background-size: cover;
  display: flex;
  align-items: center; }
  .hero-about__text-container {
    display: flex;
    flex-direction: column;
    align-items: start; }
  .hero-about__heading {
    color: #fefcf7; }
  .hero-about__subheading {
    width: 44.5rem;
    margin-top: 2.4rem;
    color: #fefcf7; }

.commitment {
  height: 93.2rem;
  width: 100%;
  padding: 16.8rem 8.5rem 24.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .commitment__text-container {
    width: 54rem;
    display: flex;
    flex-direction: column;
    align-items: start; }
  .commitment__heading {
    margin-bottom: 3.2rem; }
  .commitment__description {
    opacity: 0.8;
    width: 100%; }

.quality {
  height: 47.4rem;
  width: 100%;
  padding: 10rem 8.5rem 10rem;
  background: url("/assets/about/desktop/bg-quality.png"), lightgray 0px 0px/100% 100% no-repeat;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: start; }
  .quality__text-container {
    width: 54rem; }
  .quality__heading {
    margin-bottom: 3.2rem;
    color: #fefcf7; }
  .quality__description {
    color: #fefcf7;
    opacity: 0.8;
    width: 100%; }
  .quality__image {
    position: relative;
    top: -17.4rem; }

.contacts {
  padding: 16.8rem 11.72% 16.8rem 6.64%; }
  .contacts__heading {
    color: #83888f;
    margin-bottom: 7.2rem; }
  .contacts__headquarters {
    width: 100%;
    display: flex;
    justify-content: space-between; }
  .contacts__location {
    height: 26.2rem;
    width: 28.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start; }
  .contacts__location-country {
    margin-bottom: 2.4rem; }
  .contacts__location-phone:hover {
    text-decoration: underline; }

.main-plan {
  width: 100%;
  max-width: 128rem; }

.hero-plan {
  height: 45rem;
  width: 100%;
  background: url("/assets/plan/desktop/image-hero-blackcup.jpg"), lightgray 0px 0px/100% 100% no-repeat;
  background-size: cover;
  padding-left: 6.72%;
  display: flex;
  align-items: center; }
  .hero-plan__text-container {
    display: flex;
    flex-direction: column;
    align-items: start; }
  .hero-plan__heading {
    color: #fefcf7; }
  .hero-plan__subheading {
    width: 44.5rem;
    margin-top: 3.2rem;
    color: #fefcf7;
    opacity: 0.8; }

.workflow-plan {
  height: 65.3rem;
  background-color: #2c343e;
  padding: 11.5rem 11.72% 10rem 6.64% !important;
  margin-top: 16.8rem; }
  .workflow-plan__step-name, .workflow-plan__step-desc {
    color: #fefcf7; }

.create-plan {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 16.8rem 0; }
  .create-plan__flow {
    width: 20%;
    max-width: 25.5rem; }
  .create-plan__step {
    width: 100%;
    padding: 2.4rem 0;
    border-bottom: 1px solid #83888f; }
    .create-plan__step:first-child {
      padding-top: 0; }
    .create-plan__step:last-child {
      border-bottom: none; }
  .create-plan__step-number, .create-plan__step-name {
    display: inline-block;
    color: #83888f; }
  .create-plan__step-number {
    margin-right: 2.85rem; }
  .create-plan__step-number-active {
    color: #0e8784; }
  .create-plan__step-name-active {
    color: #333d4b; }
  .create-plan__step-number-disabled, .create-plan__step-name-disabled {
    color: #e2dedb; }
  .create-plan__form {
    max-width: 73rem; }
  .create-plan__fieldset {
    border: none;
    margin-bottom: 8.8rem; }
  .create-plan__legend {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .create-plan__heading {
    color: #83888f;
    width: 100%; }
  .create-plan__btn {
    cursor: pointer;
    transition: all 0.3s; }
    .create-plan__btn:hover {
      transform: scale(1.2); }
  .create-plan__btn-opened-options {
    cursor: pointer;
    transform: scale(1) rotate(180deg);
    transition: all 0.5s; }
    .create-plan__btn-opened-options:hover {
      transform: scale(1.2) rotate(180deg); }
  .create-plan__options {
    display: none; }
  .create-plan__options-open {
    display: flex;
    justify-content: space-between;
    gap: 2.3rem;
    margin-top: 5.6rem;
    animation: appearance 0.5s ease; }

@keyframes appearance {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
  .create-plan__input {
    display: none; }
  .create-plan__label {
    display: inline-block;
    height: 25rem;
    width: 22.8rem;
    border-radius: 8px;
    background-color: #f4f1eb;
    padding: 3.2rem 2.8rem; }
    .create-plan__label:hover {
      cursor: pointer;
      background-color: #fdd6ba; }
  .create-plan__input:checked + .create-plan__label {
    background-color: #0e8784; }
  .create-plan__input:checked + .create-plan__label .create-plan__option-heading {
    color: #fff; }
  .create-plan__input:checked + .create-plan__label .create-plan__option-desc {
    color: #fefcf7; }
  .create-plan__option-heading {
    display: block;
    margin-bottom: 2.4rem; }
  .create-plan__option-desc {
    display: block; }
  .create-plan__summary {
    width: 100%;
    background-color: #2c343e;
    border-radius: 1rem;
    padding: 4.7rem 8.77%;
    margin-bottom: 4rem; }
  .create-plan__summary-heading {
    color: #fff;
    opacity: 0.5037;
    text-transform: uppercase;
    margin-bottom: 0.8rem; }
  .create-plan__summary-text {
    color: #fff;
    line-height: 4rem; }
  .create-plan__summary-option {
    color: #0e8784; }
  .create-plan__submit {
    width: 100%;
    display: flex;
    justify-content: flex-end; }

.main-home {
  width: 100%;
  max-width: 128rem; }
  @media only screen and (max-width: 1440px) {
    .main-home {
      width: 88.89%;
      max-width: none; } }
  @media only screen and (max-width: 768px) {
    .main-home {
      width: 89.58%; } }
  @media only screen and (max-width: 550px) {
    .main-home {
      width: 87.2%; } }

.hero {
  height: 60rem;
  width: 100%;
  background: url("/assets/home/desktop/image-hero-coffeepress.jpg"), lightgray 0px 0px/100% 100% no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  padding-left: 6.72%;
  display: flex;
  align-items: center; }
  @media only screen and (max-width: 1100px) {
    .hero {
      height: 50rem;
      padding-left: 5.69%; } }
  @media only screen and (max-width: 768px) {
    .hero {
      padding-left: 8.43%; } }
  @media only screen and (max-width: 550px) {
    .hero {
      justify-content: center;
      padding: 0 7.3%; } }
  .hero__text-container {
    display: flex;
    flex-direction: column;
    align-items: start; }
    @media only screen and (max-width: 550px) {
      .hero__text-container {
        align-items: center; } }
  .hero__heading {
    color: #fefcf7;
    width: 49.3rem; }
    @media only screen and (max-width: 768px) {
      .hero__heading {
        width: 32.9rem; } }
    @media only screen and (max-width: 550px) {
      .hero__heading {
        width: 100%;
        text-align: center; } }
  .hero__subheading {
    color: #fefcf7;
    opacity: 0.8;
    width: 44.5rem;
    margin: 3.2rem 0 5.6rem; }
    @media only screen and (max-width: 768px) {
      .hero__subheading {
        width: 39.8rem;
        margin: 2.4rem 0 4rem; } }
    @media only screen and (max-width: 550px) {
      .hero__subheading {
        width: 100%;
        text-align: center; } }

.collection {
  padding: 10.4rem 0 19rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media only screen and (max-width: 768px) {
    .collection {
      padding: 14.4rem 0 12.9rem; } }
  .collection__heading {
    position: relative;
    height: 19.6rem;
    width: 111rem;
    background: linear-gradient(180deg, rgba(254, 252, 247, 0) 0%, #fefcf7 100%); }
    @media only screen and (max-width: 1200px) {
      .collection__heading {
        width: 100%;
        height: 11.8rem; } }
    .collection__heading > h2 {
      position: absolute;
      top: 8.6rem;
      width: 100%;
      z-index: -1; }
      @media only screen and (max-width: 1200px) {
        .collection__heading > h2 {
          top: 2.7rem; } }
  .collection__gallery {
    width: 86.72%;
    max-width: 111rem;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -5.5rem; }
    @media only screen and (max-width: 1200px) {
      .collection__gallery {
        width: 83.28%;
        max-width: none;
        top: -4.5rem;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        gap: 3.2rem; } }
  .collection__card {
    width: 22.97%; }
    @media only screen and (max-width: 1200px) {
      .collection__card {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 3.5rem; } }

.features {
  height: 72.8rem;
  width: 100%; }
  .features__blackboard {
    height: 57.7rem;
    width: 100%;
    background-color: #2c343e;
    border-radius: 1rem;
    padding: 10.2rem 6.64% 0;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .features__heading, .features__card-heading, .features__card-subheading {
    color: #fefcf7; }
  .features__subheading {
    color: #fefcf7;
    opacity: 0.8;
    width: 54rem;
    margin: 3.2rem 0 8.6rem; }
  .features__list {
    width: 100%;
    display: flex;
    justify-content: space-between; }
  .features__card {
    width: 31.53%;
    height: 38.2rem;
    border-radius: 0.8rem;
    padding: 7.2rem 4.28% 4.8rem;
    background-color: #0e8784; }
  .features__card:nth-child(3) {
    padding-top: 8.3rem; }
  .features__img {
    width: 7.2rem; }

.workflow {
  padding: 20rem 11.72% 20rem 6.64%;
  display: flex;
  flex-direction: column;
  align-items: start; }
  .workflow__heading {
    color: #83888f;
    margin-bottom: 8rem; }
  .workflow__progress {
    width: 79.1rem;
    margin-bottom: 6.7rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .workflow__circle {
    height: 3.1rem;
    width: 3.1rem;
    border: 2px solid #0e8784;
    border-radius: 50%; }
    .workflow__circle:nth-child(2) {
      position: relative; }
      .workflow__circle:nth-child(2)::before {
        content: "";
        height: 2px;
        width: 35rem;
        background-color: #fdd6ba;
        position: absolute;
        top: 50%;
        left: -35.1rem; }
      .workflow__circle:nth-child(2)::after {
        content: "";
        height: 2px;
        width: 35rem;
        background-color: #fdd6ba;
        position: absolute;
        top: 50%;
        left: calc(100% + 1px); }
  .workflow__description {
    width: 104.5rem;
    margin-bottom: 6.4rem;
    display: flex;
    justify-content: space-between; }
  .workflow__card {
    width: 28.5rem;
    display: flex;
    flex-direction: column;
    align-items: start; }
  .workflow__step-number {
    color: #fdd6ba;
    margin-bottom: 3.8rem; }
  .workflow__step-name {
    width: 25.5rem;
    margin-bottom: 4.3rem; }
  .workflow__step-desc {
    width: 100%; }
