.u-text-center {
  text-align: center; }

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  box-sizing: border-box;
  padding-bottom: 8.8rem;
  background-color: #fefcf7;
  display: flex;
  flex-direction: column;
  align-items: center; }

a {
  text-decoration: none; }

.heading-xxl, .heading-xl, .heading-lg, .heading-md, .heading-sm {
  font-family: "Fraunces", serif;
  color: #333d4b;
  font-style: normal;
  font-weight: 900; }

.font-body, .font-nav {
  font-family: "Barlow", sans-serif;
  font-style: normal; }

.heading-xxl {
  color: #83888f;
  font-size: 15rem;
  line-height: 7.2rem;
  text-transform: lowercase;
  letter-spacing: 13px; }

.heading-xl {
  font-size: 7.2rem;
  line-height: 7.2rem; }

.heading-lg {
  font-size: 4rem;
  line-height: 4.8rem; }

.heading-md {
  font-size: 3.2rem;
  line-height: 3.6rem; }

.heading-sm {
  font-size: 2.4rem;
  line-height: 3.2rem; }

.font-body {
  color: #333d4b;
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: 400; }

.font-nav {
  color: #83888f;
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.923px;
  text-transform: uppercase; }

.btn {
  display: inline-block;
  background-color: #0e8784;
  padding: 1.55rem 3.1rem;
  border-radius: 0.6rem;
  font-family: "Fraunces", serif;
  color: #fefcf7;
  font-size: 1.8rem;
  line-height: 2.5rem;
  font-style: normal;
  font-weight: 900;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s; }
  .btn:hover {
    background-color: #66d2cf; }
  .btn--disabled {
    background-color: #e2dedb; }
    .btn--disabled:hover {
      background-color: #e2dedb; }

.card {
  width: 25.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  .card__img {
    width: 100%; }
  .card__heading {
    margin-bottom: 2.4rem; }

.footer {
  width: 100%;
  max-width: 128rem;
  padding: 4.7rem 5.75%;
  display: flex;
  align-items: center;
  background-color: #2c343e; }
  .footer__logo {
    margin-right: 9.6%; }
  .footer__nav {
    margin-right: auto; }
  .footer__nav-menu {
    list-style: none;
    width: 28.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .footer__nav-link {
    transition: all 0.3s; }
    .footer__nav-link:hover {
      color: #fefcf7; }
  .footer__media-links {
    width: 12rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .footer__sm-img {
    cursor: pointer;
    transition: transform 0.3s; }
    .footer__sm-img:hover {
      transform: translateY(-2px) scale(1.15);
      filter: brightness(0) saturate(100%) invert(94%) sepia(9%) saturate(1519%) hue-rotate(311deg) brightness(108%) contrast(104%); }

.header {
  width: 100%;
  max-width: 128rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4.35rem 0; }
  .header__nav-menu {
    list-style: none;
    width: 28.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header__nav-link {
    transition: all 0.3s; }
    .header__nav-link:hover {
      color: #333d4b; }

.main-about {
  width: 100%;
  max-width: 128rem; }

.hero-about {
  height: 45rem;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  padding-left: 6.72%;
  background: url("/assets/about/desktop/image-hero-whitecup.jpg"), lightgray 0px 0px/100% 100% no-repeat;
  background-size: cover;
  display: flex;
  align-items: center; }
  .hero-about__text-container {
    display: flex;
    flex-direction: column;
    align-items: start; }
  .hero-about__heading {
    color: #fefcf7; }
  .hero-about__subheading {
    width: 44.5rem;
    margin-top: 2.4rem;
    color: #fefcf7; }

.commitment {
  height: 93.2rem;
  width: 100%;
  padding: 16.8rem 8.5rem 24.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .commitment__text-container {
    width: 54rem;
    display: flex;
    flex-direction: column;
    align-items: start; }
  .commitment__heading {
    margin-bottom: 3.2rem; }
  .commitment__description {
    opacity: 0.8;
    width: 100%; }

.quality {
  height: 47.4rem;
  width: 100%;
  padding: 10rem 8.5rem 10rem;
  background: url("/assets/about/desktop/bg-quality.png"), lightgray 0px 0px/100% 100% no-repeat;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: start; }
  .quality__text-container {
    width: 54rem; }
  .quality__heading {
    margin-bottom: 3.2rem;
    color: #fefcf7; }
  .quality__description {
    color: #fefcf7;
    opacity: 0.8;
    width: 100%; }
  .quality__image {
    position: relative;
    top: -17.4rem; }

.contacts {
  padding: 16.8rem 11.72% 16.8rem 6.64%; }
  .contacts__heading {
    color: #83888f;
    margin-bottom: 7.2rem; }
  .contacts__headquarters {
    width: 100%;
    display: flex;
    justify-content: space-between; }
  .contacts__location {
    height: 26.2rem;
    width: 28.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start; }
  .contacts__location-country {
    margin-bottom: 2.4rem; }
  .contacts__location-phone:hover {
    text-decoration: underline; }

.main-plan {
  width: 100%;
  max-width: 128rem; }

.hero-plan {
  height: 45rem;
  width: 100%;
  background: url("/assets/plan/desktop/image-hero-blackcup.jpg"), lightgray 0px 0px/100% 100% no-repeat;
  background-size: cover;
  padding-left: 6.72%;
  display: flex;
  align-items: center; }
  .hero-plan__text-container {
    display: flex;
    flex-direction: column;
    align-items: start; }
  .hero-plan__heading {
    color: #fefcf7; }
  .hero-plan__subheading {
    width: 44.5rem;
    margin-top: 3.2rem;
    color: #fefcf7;
    opacity: 0.8; }

.create-plan__fieldset {
  border: none;
  margin-bottom: 8.8rem; }

.create-plan__legend {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .create-plan__legend--open {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5.6rem; }

.create-plan__heading {
  color: #83888f;
  width: 100%; }

.create-plan__btn {
  cursor: pointer;
  transition: all 0.3s; }
  .create-plan__btn:hover {
    transform: scale(1.2); }

.create-plan__options--open {
  display: flex;
  justify-content: space-between;
  gap: 2.3rem; }

.create-plan__option {
  height: 25rem;
  width: 22.8rem;
  border-radius: 8px;
  background-color: #f4f1eb;
  padding: 3.2rem 2.8rem; }
  .create-plan__option:hover {
    cursor: pointer;
    background-color: #fdd6ba; }

.create-plan__input {
  display: none; }

.create-plan__option-heading {
  margin-bottom: 2.4rem; }

.main-home {
  width: 100%;
  max-width: 128rem; }

.hero {
  height: 60rem;
  width: 100%;
  background: url("/assets/home/desktop/image-hero-coffeepress.jpg"), lightgray 0px 0px/100% 100% no-repeat;
  background-size: cover;
  border-radius: 10px;
  padding-left: 6.72%;
  display: flex;
  align-items: center; }
  .hero__text-container {
    display: flex;
    flex-direction: column;
    align-items: start; }
  .hero__heading {
    color: #fefcf7;
    width: 49.3rem; }
  .hero__subheading {
    color: #fefcf7;
    opacity: 0.8;
    width: 44.5rem;
    margin: 3.2rem 0 5.6rem; }

.collection {
  padding: 10.4rem 0 19rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .collection__heading {
    position: relative;
    height: 19.6rem;
    width: 111rem;
    background: linear-gradient(180deg, rgba(254, 252, 247, 0) 0%, #fefcf7 100%); }
    .collection__heading > h2 {
      position: absolute;
      top: 8.6rem;
      width: 100%;
      z-index: -1; }
  .collection__gallery {
    width: 86.72%;
    max-width: 111rem;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -5.5rem; }
  .collection__card {
    width: 22.97%; }

.features {
  height: 72.8rem;
  width: 100%; }
  .features__blackboard {
    height: 57.7rem;
    width: 100%;
    background-color: #2c343e;
    border-radius: 1rem;
    padding: 10.2rem 6.64% 0;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .features__heading, .features__card-heading, .features__card-subheading {
    color: #fefcf7; }
  .features__subheading {
    color: #fefcf7;
    opacity: 0.8;
    width: 54rem;
    margin: 3.2rem 0 8.6rem; }
  .features__list {
    width: 100%;
    display: flex;
    justify-content: space-between; }
  .features__card {
    width: 31.53%;
    height: 38.2rem;
    border-radius: 0.8rem;
    padding: 7.2rem 4.28% 4.8rem;
    background-color: #0e8784; }
  .features__card:nth-child(3) {
    padding-top: 8.3rem; }
  .features__img {
    width: 7.2rem; }

.workflow {
  padding: 20rem 11.72% 20rem 6.64%;
  display: flex;
  flex-direction: column;
  align-items: start; }
  .workflow__heading {
    color: #83888f;
    margin-bottom: 8rem; }
  .workflow__progress {
    width: 79.1rem;
    margin-bottom: 6.7rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .workflow__circle {
    height: 3.1rem;
    width: 3.1rem;
    border: 2px solid #0e8784;
    border-radius: 50%; }
    .workflow__circle:nth-child(2) {
      position: relative; }
      .workflow__circle:nth-child(2)::before {
        content: "";
        height: 2px;
        width: 35rem;
        background-color: #fdd6ba;
        position: absolute;
        top: 50%;
        left: -35.1rem; }
      .workflow__circle:nth-child(2)::after {
        content: "";
        height: 2px;
        width: 35rem;
        background-color: #fdd6ba;
        position: absolute;
        top: 50%;
        left: calc(100% + 1px); }
  .workflow__description {
    width: 104.5rem;
    margin-bottom: 6.4rem;
    display: flex;
    justify-content: space-between; }
  .workflow__card {
    width: 28.5rem;
    display: flex;
    flex-direction: column;
    align-items: start; }
  .workflow__step-number {
    color: #fdd6ba;
    margin-bottom: 3.8rem; }
  .workflow__step-name {
    width: 25.5rem;
    margin-bottom: 4.3rem; }
  .workflow__step-desc {
    width: 100%; }
