$font-heading: 'Fraunces', serif;
$font-body: 'Barlow', sans-serif;
$color-cream: #fefcf7;
$color-cyan-dark: #0e8784;
$color-cyan-light: #66d2cf;
$color-disabled: #e2dedb;
$color-grey: #83888f;
$color-grey-dark: #333d4b;
$color-orange: #fdd6ba;