.collection {
  padding: 10.4rem 0 19rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__heading {
    position: relative;
    height: 19.6rem;
    width: 111rem;
    background: linear-gradient(
      180deg,
      rgba(254, 252, 247, 0) 0%,
      $color-cream 100%
    );

    & > h2 {
      position: absolute;
      top: 8.6rem;
      width: 100%;
      z-index: -1;
    }
  }

  &__gallery {
    width: 86.72%;
    max-width: 111rem;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -5.5rem;
  }

  &__card {
    width: 22.97%;
  }
}
