.header {
  width: 100%;
  max-width: 128rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4.35rem 0;

  @media only screen and (max-width: 1440px) {
    width: 88.89%;
    max-width: none;
    padding: 4rem 0;
  }

  @media only screen and (max-width: 768px) {
    width: 89.58%;
  }

  @media only screen and (max-width: 550px) {
    width: 87.2%;
    padding: 3.2rem 0;
  }

  &__nav-menu {
    list-style: none;
    width: 28.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: 650px) {
      width: 25.3rem;
    }

    @media only screen and (max-width: 550px) {
      display: none;
    }
  }

  &__nav-link {
    transition: all 0.3s;

    &:hover {
      color: $color-grey-dark;
    }
  }

  &__logo {
    @media only screen and (max-width: 650px) {
      width: 16.3rem;
    }
  }

  &__burger-nav {
    display: none;

    @media only screen and (max-width: 550px) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 1.6rem;
      width: 1.6rem;
    }
  }

  &__burger-bar {
    display: none;

    @media only screen and (max-width: 550px) {
      display: block;
      height: 0.3rem;
      width: 1.6rem;
      background-color: $color-grey-dark;
    }
  }
}