.workflow {
  padding: 20rem 11.72% 20rem 6.64%;
  display: flex;
  flex-direction: column;
  align-items: start;

  &__heading {
    color: $color-grey;
    margin-bottom: 8rem;
  }

  &__progress {
    width: 79.1rem;
    margin-bottom: 6.7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__circle {
    height: 3.1rem;
    width: 3.1rem;
    border: 2px solid $color-cyan-dark;
    border-radius: 50%;

    &:nth-child(2) {
      position: relative;

      &::before {
        content: "";
        height: 2px;
        width: 35rem;
        background-color: $color-orange;
        position: absolute;
        top: 50%;
        left: -35.1rem;
      }

      &::after {
        content: "";
        height: 2px;
        width: 35rem;
        background-color: $color-orange;
        position: absolute;
        top: 50%;
        left: calc(100% + 1px);
      }
    }
  }

  &__description {
    width: 104.5rem;
    margin-bottom: 6.4rem;
    display: flex;
    justify-content: space-between;
  }

  &__card {
    width: 28.5rem;
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  &__step-number {
    color: $color-orange;
    margin-bottom: 3.8rem;
  }

  &__step-name {
    width: 25.5rem;
    margin-bottom: 4.3rem;
  }

  &__step-desc {
    width: 100%;
  }
}