.btn {
  display: inline-block;
  background-color: $color-cyan-dark;
  padding: 1.55rem 3.1rem;
  border-radius: 0.6rem;
  font-family: $font-heading;
  color: $color-cream;
  font-size: 1.8rem;
  line-height: 2.5rem;
  font-style: normal;
  font-weight: 900;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    background-color: $color-cyan-light;
  }

  &--disabled {
    background-color: $color-disabled;

    &:hover {
      background-color: $color-disabled;
    }
  }
}
