%heading {
  font-family: $font-heading;
  color: $color-grey-dark;
  font-style: normal;
  font-weight: 900;
}

%body {
  font-family: $font-body;
  font-style: normal;
}

.heading-xxl {
  @extend %heading;
  color: $color-grey;
  font-size: 15rem;
  line-height: 7.2rem;
  text-transform: lowercase;
  letter-spacing: 13px;

  @media only screen and (max-width: 1200px) {
    font-size: 12rem;
    letter-spacing: 12px;
  }

  @media only screen and (max-width: 1000px) {
    font-size: 9.6rem;
    letter-spacing: 6px;
  }

  @media only screen and (max-width: 750px) {
    font-size: 7rem;
    letter-spacing: 0;
  }

  @media only screen and (max-width: 550px) {
    font-size: 4rem;
  }
}

.heading-xl {
  @extend %heading;
  font-size: 7.2rem;
  line-height: 7.2rem;

  @media only screen and (max-width: 768px) {
    font-size: 4.8rem;
    line-height: 4.8rem;
  }

  @media only screen and (max-width: 550px) {
    font-size: 4rem;
    line-height: 4rem;
  }
}

.heading-lg {
  @extend %heading;
  font-size: 4rem;
  line-height: 4.8rem;

  @media only screen and (max-width: 900px) {
    font-size: 3.2rem;
  }

  @media only screen and (max-width: 650px) {
    font-size: 2.8rem;
    line-height: 2.8rem;
  }
}

.heading-md {
  @extend %heading;
  font-size: 3.2rem;
  line-height: 3.6rem;
}

.heading-sm {
  @extend %heading;
  font-size: 2.4rem;
  line-height: 3.2rem;
}

.font-body {
  @extend %body;
  color: $color-grey-dark;
  font-size: 1.6rem;
  line-height: 2.6rem;  
  font-weight: 400;

  @media only screen and (max-width: 768px) {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
}

.font-nav {
  @extend %body;
  color: $color-grey;
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.923px;
  text-transform: uppercase;
}