%heading {
  font-family: $font-heading;
  color: $color-grey-dark;
  font-style: normal;
  font-weight: 900;
}

%body {
  font-family: $font-body;
  font-style: normal;
}

.heading-xxl {
  @extend %heading;
  color: $color-grey;
  font-size: 15rem;
  line-height: 7.2rem;
  text-transform: lowercase;
  letter-spacing: 13px;
}

.heading-xl {
  @extend %heading;
  font-size: 7.2rem;
  line-height: 7.2rem;
}

.heading-lg {
  @extend %heading;
  font-size: 4rem;
  line-height: 4.8rem;
}

.heading-md {
  @extend %heading;
  font-size: 3.2rem;
  line-height: 3.6rem;
}

.heading-sm {
  @extend %heading;
  font-size: 2.4rem;
  line-height: 3.2rem;
}

.font-body {
  @extend %body;
  color: $color-grey-dark;
  font-size: 1.6rem;
  line-height: 2.6rem;  
  font-weight: 400;
}

.font-nav {
  @extend %body;
  color: $color-grey;
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.923px;
  text-transform: uppercase;
}