.main-about {
  width: 100%;
  max-width: 128rem;
}

.hero-about {
  height: 45rem;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  padding-left: 6.72%;
  background: url("/assets/about/desktop/image-hero-whitecup.jpg"),
    lightgray 0px 0px / 100% 100% no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;

  &__text-container {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  &__heading {
    color: $color-cream;
  }

  &__subheading {
    width: 44.5rem;
    margin-top: 2.4rem;
    color: $color-cream;
  }
}

.commitment {
  height: 93.2rem;
  width: 100%;
  padding: 16.8rem 8.5rem 24.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__text-container {
    width: 54rem;
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  &__heading {
    margin-bottom: 3.2rem;
  }

  &__description {
    opacity: 0.8;
    width: 100%;
  }
}

.quality {
  height: 47.4rem;
  width: 100%;
  padding: 10rem 8.5rem 10rem;
  background: url("/assets/about/desktop/bg-quality.png"),
    lightgray 0px 0px / 100% 100% no-repeat;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: start;

  &__text-container {
    width: 54rem;
  }

  &__heading {
    margin-bottom: 3.2rem;
    color: $color-cream;
  }

  &__description {
    color: $color-cream;
    opacity: 0.8;
    width: 100%;
  }

  &__image {
    position: relative;
    top: -17.4rem;
  }
}
