.main-about {
  width: 100%;
  max-width: 128rem;

  @media only screen and (max-width: 1440px) {
    width: 88.89%;
    max-width: none;
  }

  @media only screen and (max-width: 768px) {
    width: 89.58%;
  }

  @media only screen and (max-width: 550px) {
    width: 87.2%;
  }
}

.hero-about {
  height: 45rem;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  padding-left: 6.72%;
  background: url("/assets/about/desktop/image-hero-whitecup.jpg"),
    lightgray 0px 0px / 100% 100% no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;

  @media only screen and (max-width: 1100px) {
    height: 40rem;
    padding-left: 5.69%;
  }

  @media only screen and (max-width: 768px) {
    padding-left: 8.43%;
  }

  @media only screen and (max-width: 550px) {
    padding: 11.1rem 8.6% 8.7rem;
  }

  &__text-container {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  &__heading {
    color: $color-cream;

    @media only screen and (max-width: 900px) {
      font-size: 4.8rem;
      line-height: 4.8rem;
    }

    @media only screen and (max-width: 550px) {
      font-size: 2.8rem;
      line-height: 2.8rem;
      width: 100%;
      text-align: center;
    }
  }

  &__subheading {
    width: 44.5rem;
    margin-top: 2.4rem;
    color: $color-cream;

    @media only screen and (max-width: 1100px) {
      width: 57.76%;
      min-width: 39.8rem;
    }

    @media only screen and (max-width: 550px) {
      width: 100%;
      min-width: 0;
      text-align: center;
    }
  }
}

.commitment {
  height: 93.2rem;
  width: 100%;
  padding: 16.8rem 8.5rem 24.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6.9rem;

  @media only screen and (max-width: 1200px) {
    height: 75rem;
    padding: 14.4rem 0 13.6rem;
  }

  @media only screen and (max-width: 650px) {
    height: 90rem;
    padding: 12rem 0;
    flex-direction: column;
    justify-content: start;
    gap: 4.8rem;
  }

  &__image {
    @media only screen and (max-width: 1200px) {
      width: 42%;
      height: 47rem;
      min-width: 23.5rem;
      object-fit: cover;
    }

    @media only screen and (max-width: 650px) {
      width: 100%;
      min-width: none;
      height: 40rem;
      object-fit: cover;
      border-radius: 0.8rem;
    }
  }

  &__text-container {
    width: 54rem;
    display: flex;
    flex-direction: column;
    align-items: start;

    @media only screen and (max-width: 1200px) {
      flex: 5;
    }

    @media only screen and (max-width: 650px) {
      width: 100%;
      align-items: center;
    }
  }

  &__heading {
    margin-bottom: 3.2rem;

    @media only screen and (max-width: 900px) {
      margin-bottom: 3rem;
    }

    @media only screen and (max-width: 650px) {
      font-size: 3.2rem;
      line-height: 4.8rem;
    }
  }

  &__description {
    opacity: 0.8;
    width: 100%;

    @media only screen and (max-width: 650px) {
      text-align: center;
    }
  }
}

.quality {
  height: 47.4rem;
  width: 100%;
  padding: 10rem 8.5rem;
  background: url("/assets/about/desktop/bg-quality.png"),
    lightgray 0px 0px / 100% 100% no-repeat;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: start;

  @media only screen and (max-width: 1200px) {
    padding-left: 7.4rem;
    padding-right: 7.4rem;
  }

  @media only screen and (max-width: 1000px) {
    margin-top: 16rem;
    padding: 0 4.8rem;
    flex-direction: column-reverse;
    justify-content: start;
    align-items: center;
  }

  @media only screen and (max-width: 750px) {
    margin-top: 12.7rem;
  }

  &__text-container {
    width: 48.65%;

    @media only screen and (max-width: 1000px) {
      position: relative;
      top: -9.6rem;
      width: 93%;
    }

    @media only screen and (max-width: 750px) {
      top: -6.3rem;
    }
  }

  &__heading {
    margin-bottom: 3.2rem;
    color: $color-cream;

    @media only screen and (max-width: 1000px) {
      text-align: center;
      margin-bottom: 2.4rem;
    }
  }

  &__description {
    color: $color-cream;
    opacity: 0.8;
    width: 100%;

    @media only screen and (max-width: 1000px) {
      text-align: center;
    }
  }

  &__image {
    position: relative;
    top: -17.4rem;
    border-radius: 0.8rem;

    @media only screen and (max-width: 1200px) {
      top: -14rem;
      margin-left: 5%;
      width: 35rem;
    }

    @media only screen and (max-width: 1000px) {
      width: 57.3rem;
      height: 32rem;
      object-fit: cover;
      object-position: bottom;
      top: -16rem;
      margin-left: 0;
    }

    @media only screen and (max-width: 750px) {
      width: 45.4rem;
      height: 25.4rem;
      top: -12.7rem;
    }
  }
}

.contacts {
  padding: 16.8rem 11.72% 16.8rem 6.64%;

  &__heading {
    color: $color-grey;
    margin-bottom: 7.2rem;
  }

  &__headquarters {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__location {
    height: 26.2rem;
    width: 28.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
  }

  &__location-country {
    margin-bottom: 2.4rem;
  }

  &__location-phone {
    &:hover {
      text-decoration: underline;
    }
  }
}
