.main-plan {
  width: 100%;
  max-width: 128rem;
}

.hero-plan {
  height: 45rem;
  width: 100%;
  background: url("/assets/plan/desktop/image-hero-blackcup.jpg"),
    lightgray 0px 0px / 100% 100% no-repeat;
  background-size: cover;
  padding-left: 6.72%;
  display: flex;
  align-items: center;

  &__text-container {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  &__heading {
    color: $color-cream;
  }

  &__subheading {
    width: 44.5rem;
    margin-top: 3.2rem;
    color: $color-cream;
    opacity: 0.8;
  }
}

.workflow-plan {
  height: 65.3rem;
  background-color: #2c343e;
  padding: 11.5rem 11.72% 10rem 6.64% !important;
  margin-top: 16.8rem;

  &__step-name,
  &__step-desc {
    color: $color-cream;
  }
}

.create-plan {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 16.8rem 0;

  &__flow {
    width: 20%;
    max-width: 25.5rem;
  }

  &__step {
    width: 100%;
    padding: 2.4rem 0;
    border-bottom: 1px solid $color-grey;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      border-bottom: none;
    }
  }

  &__step-number,
  &__step-name {
    display: inline-block;
    color: $color-grey;
  }

  &__step-number {
    margin-right: 2.85rem;
  }

  &__step-number-active {
    color: $color-cyan-dark;
  }

  &__step-name-active {
    color: $color-grey-dark;
  }

  &__step-number-disabled,
  &__step-name-disabled {
    color: $color-disabled;
  }

  &__form {
    max-width: 73rem;
  }

  &__fieldset {
    border: none;
    margin-bottom: 8.8rem;
  }

  &__legend {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__heading {
    color: $color-grey;
    width: 100%;
  }

  &__btn {
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__btn-opened-options {
    cursor: pointer;
    transform: scale(1) rotate(180deg);
    transition: all 0.5s;

    &:hover {
      transform: scale(1.2) rotate(180deg);
    }
  }

  &__options {
    display: none;
  }

  &__options-open {
    display: flex;
    justify-content: space-between;
    gap: 2.3rem;
    margin-top: 5.6rem;
    animation: appearance 0.5s ease;
  }

  @keyframes appearance {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  &__input {
    display: none;
  }

  &__label {
    display: inline-block;
    height: 25rem;
    width: 22.8rem;
    border-radius: 8px;
    background-color: #f4f1eb;
    padding: 3.2rem 2.8rem;

    &:hover {
      cursor: pointer;
      background-color: $color-orange;
    }
  }

  &__input:checked + &__label {
    background-color: $color-cyan-dark;
  }

  &__input:checked + &__label &__option-heading {
    color: $color-white;
  }

  &__input:checked + &__label &__option-desc {
    color: $color-cream;
  }

  &__option-heading {
    display: block;
    margin-bottom: 2.4rem;
  }

  &__option-desc {
    display: block;
  }

  &__summary {
    width: 100%;
    background-color: #2c343e;
    border-radius: 1rem;
    padding: 4.7rem 8.77%;
    margin-bottom: 4rem;
  }

  &__summary-heading {
    color: $color-white;
    opacity: 0.5037;
    text-transform: uppercase;
    margin-bottom: 0.8rem;
  }

  &__summary-text {
    color: $color-white;
    line-height: 4rem;
  }

  &__summary-option {
    color: $color-cyan-dark;
  }

  &__submit {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}
